ul {
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium';
  color: rgb(41, 11, 11);
  text-size-adjust: 125%;

 
}
h1 {
  color: rgb(4, 4, 41);
  font-family: 'Franklin Gothic Medium';

}
html {
 background-color: rgb(40, 206, 40);

}